html {
    height: 100%;
    width: 100%;
  }
  
  body {
    background-color: palevioletred;
  }
  
  .card a img {
    z-index: 1;
    width: 200px;
    display: block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: pound;
    animation:pound .2s infinite;
    animation-duration: 2s;
  }
  
  @keyframes pound {
    0% { transform: scale(1.1); }
    50% { transform: scale(1); }
    100% { transform: scale(1.1); }
  }
  
  .p h1 {
    font-size: 17px;
    display: block;
    text-align: center;
    margin-top: 60px;
  }